<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="statuses.TestRetrieveOrderDetails"/>
      <class name="statuses.TestGetEndUserForm"/>
      <class name="statuses.TestAcceptOrder"/>
      <class name="statuses.TestCancelOrder"/>
      <class name="statuses.TestSendEndUserForm"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
